<ui-view>
<div class="col-lg-6">
        <div class="hpanel">
            <div class="panel-heading">
        
            <div class="panel-body float-e-margins">
                <p>
                    
                </p>
                <a class="btn btn-primary" type="button" ui-sref="main.mywallet.traderecord"><i class="fa fa-group"></i> <br/>交易记录</a>
                <a class="btn btn-info" type="button" ui-sref="main.mywallet.bindingbankcard"><i class="fa fa-print"></i> <br/>绑定银行卡</a>
                <a class="btn btn-success" type="button" ui-sref="main.mywallet.paydeposit"><i class="fa fa-recycle"></i> <br/>押金缴纳</a>
                <a class="btn btn-danger2" type="button" ui-sref="main.mywallet.withdraw"><i class="fa fa-medkit"></i> <br/>提现</a>
            </div>
        </div>
    </div>
<div class="hpanel stats">
            <div class="panel-body h-200">
                <div class="stats-title pull-left">
                    <h4>余额</h4>
                </div>
                <div class="stats-icon pull-right">
                    <i class="pe-7s-monitor fa-4x"></i>
                </div>
                <div class="m-t-xl">
                    <h1 class="text-success">8600.25元</h1>
                    <span class="font-bold no-margins">
                        Social users
                    </span>
                    <br/>
                    <small>
                        Lorem Ipsum is simply dummy text of the printing and <strong>typesetting industry</strong>. Lorem Ipsum has been.
                    </small>
                </div>
            </div>
            <div class="panel-footer">
                This is standard panel footer
            </div>
 </div>
</ui-view>