<div class="row projects">
    <div class="col-lg-6">
        <div class="hpanel hblue">
            <div class="panel-body">
                <span class="label label-info pull-right">NEW</span>
                <div class="row">
                    <div class="col-sm-8">
                        <h2>车型应缴押金</h2>
                        <h5>
                            您当前的车型为 {{ user.vehicle.name }}
                        </h5>
                        <h5 ng-if="user.status === 0" class="text-danger">
                            您还未缴纳押金
                        </h5>
                        <h5 ng-if="user.status === 1" class="text-success">
                            您已经缴纳押金
                        </h5>
                        <div class="project-value">
                            <h2 class="text-info">
                                {{ user.vehicle.pledge }} 元
                            </h2>
                        </div>
                    </div>
                </div>
            </div>
            <div class="panel-footer">
                Additional information about project in footer
            </div>
            </br>
            </br>
            <p>
                <button ng-if="user.status === 0" type="button" ng-click="pay()" class="btn w-xs btn-primary2">立即缴纳</button>&nbsp&nbsp
                <a ui-sref="main.mywallet" class="btn w-xs btn-success">返回</a>
            </p>
        </div>
    </div>
</div>
