<div class="row">
    <div class="col-lg-4">
        <div class="hpanel">
            <div class="panel-heading">
                <div panel-tools></div>
                转账明细
            </div>
            <div class="panel-body">
                <div class="table-responsive">
                <table cellpadding="1" cellspacing="1" class="table table-condensed table-striped">
                    <thead>
                    <tr>
                        <th>联系人电话</th>
                        <th>订单开始时间</th>
                        <th>订单完成时间</th>
                        <th>订单金额</th>
                        <th>备注</th>
                    </tr>
                    </thead>
                    <tbody>
                    <tr>
                        <td>18722334587</td>
                        <td>2016-6-18</td>
                        <td>2016-6-20</td>
                        <td>+35000</td>
                        <td>无</td>
                    </tr>
                    <tr>
                        <td>17625494872</td>
                        <td>2017-8-05</td>
                        <td>2017-8-05</td>
                        <td>+2500</td>
                        <td>无</td>
                    </tr>
                    <tr>
                        <td>18722334587</td>
                        <td>2016-6-18</td>
                        <td>2016-6-20</td>
                        <td>+35000</td>
                        <td>无</td>
                    </tr>
                    <tr>
                        <td>13655439877</td>
                        <td>2018-2-18</td>
                        <td>2016-2-25</td>
                        <td>+25000</td>
                        <td>无</td>
                    </tr>
                    <tr>
                        <td>18722334587</td>
                        <td>2016-6-18</td>
                        <td>2016-6-18</td>
                        <td>-35000</td>
                        <td>押金扣除</td>
                    </tr>

                    </tbody>
                </table>
</div>
