<div class="color-line"></div>
<div class="register-container">
    <div class="row">
        <div class="col-md-12">
            <div class="text-center m-b-md">
                <h3>注册</h3>
                <small>Full suported AngularJS WebApp/Admin template with very clean and aesthetic style prepared for your next app. </small>
            </div>
            <div class="hpanel">
                <div class="panel-body">
                    <form id="registerForm" name="registerForm" ng-submit="submit()">
                        <div class="row">
                            <div class="form-group col-lg-12">
                                <label for="type">角色</label>
                                <select ng-model="user.type" id="type" class="form-control m-b">
                                    <option value="DRIVER">司机</option>
                                    <option value="OWNER">货主</option>
                                </select>
                            </div>
                            <div class="form-group col-lg-12">
                                <label for="username">用户名</label>
                                <input ng-model="user.username" type="text" id="username" class="form-control" name="username" required>
                                <p style="margin-top: 10px;" class="text-danger" ng-show="registerForm.username.$dirty && registerForm.username.$invalid">
                                    <i class="fa fa-exclamation-triangle"></i>
                                    请输入用户名
                                </p>
                            </div>
                            <div class="form-group col-lg-12">
                                <label for="password">密码</label>
                                <input ng-model="user.password" type="password" id="password" class="form-control" name="password" required>
                                <p style="margin-top: 10px;" class="text-danger" ng-show="registerForm.password.$dirty && registerForm.password.$invalid">
                                    <i class="fa fa-exclamation-triangle"></i>
                                    密码不合法
                                </p>
                            </div>
                            <div class="form-group col-lg-12">
                                <label for="name">姓名</label>
                                <input ng-model="user.name" type="text" id="name" class="form-control" name="name" required>
                                <p style="margin-top: 10px;" class="text-danger" ng-show="registerForm.name.$dirty && registerForm.name.$invalid">
                                    <i class="fa fa-exclamation-triangle"></i>
                                    请输入姓名
                                </p>
                            </div>
                            <div class="form-group col-lg-12">
                                <label for="tel">电话</label>
                                <input tel-validate ng-model="user.tel" name="tel" type="text" id="tel" class="form-control" required>
                                <p style="margin-top: 10px;" class="text-danger" ng-show="registerForm.tel.$dirty && registerForm.tel.$invalid">
                                    <i class="fa fa-exclamation-triangle"></i>
                                    电话不合法
                                </p>
                            </div>
                            <div ng-if="user.type === 'OWNER'" class="form-group col-lg-12">
                                <label for="commonGoods">常用货物</label>
                                <input ng-model="user.commonGoods" name="commonGoods" type="text" id="commonGoods" class="form-control" required>
                                <p style="margin-top: 10px;" class="text-danger" ng-show="registerForm.commonGoods.$dirty && registerForm.commonGoods.$invalid">
                                    <i class="fa fa-exclamation-triangle"></i>
                                    请输入常用货物
                                </p>
                            </div>
                            <div ng-if="user.type === 'OWNER'" class="form-group col-lg-12">
                                <label for="address">地址</label>
                                <input ng-model="user.address" name="address" type="text" id="address" class="form-control" required>
                                <p style="margin-top: 10px;" class="text-danger" ng-show="registerForm.address.$dirty && registerForm.address.$invalid">
                                    <i class="fa fa-exclamation-triangle"></i>
                                    请输入地址
                                </p>
                            </div>
                            <div ng-if="user.type === 'DRIVER'" class="form-group col-lg-12">
                                <label for="license">车牌号</label>
                                <input ng-model="user.license" name="license" type="text" id="license" class="form-control" required>
                                <p style="margin-top: 10px;" class="text-danger" ng-show="registerForm.license.$dirty && registerForm.license.$invalid">
                                    <i class="fa fa-exclamation-triangle"></i>
                                    请输入车牌号
                                </p>
                            </div>
                            <div ng-if="user.type === 'DRIVER'" class="form-group col-lg-12">
                                <label>车型</label>
                                <vehicle-list ng-model="user.vehicle"></vehicle-list>
                                <input type="hidden" ng-model="user.vehicle.id" required />
                            </div>
                        </div>
                        <div class="text-center">
                            <button ng-disabled="registerForm.$invalid" class="btn btn-success">注册</button>
                            <a ui-sref="login" class="btn btn-default">取消</a>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-md-12 text-center">
            <strong>HOMER</strong> - AngularJS Responsive WebApp <br /> 2015 Copyright Company Name
        </div>
    </div>
</div>
