<div class="hpanel email-compose">
            <div class="panel-heading hbuilt">
                <div class="p-xs h4">
                    订单详情
                </div>
            </div>
            <div class="panel-heading hbuilt">
                <div class="p-xs">

                    <form method="get" class="form-horizontal">
                        <div class="form-group"><label class="col-sm-1 control-label text-left">订单编号</label>

                            <div class="col-sm-2"><input type="text" class="form-control input-sm"></div>
                        </div>
                        <div class="form-group"><label class="col-sm-1 control-label text-left">发车地点</label>

                            <div class="col-sm-2"><input type="text" class="form-control input-sm"></div>
                        </div>
                        <div class="form-group"><label class="col-sm-1 control-label text-left">运输终点</label>

                            <div class="col-sm-2"><input type="text" class="form-control input-sm" ></div>
                        </div>
                        <div class="form-group"><label class="col-sm-1 control-label text-left">运输里程</label>

                            <div class="col-sm-2"><input type="text" class="form-control input-sm"></div>
                        </div>
                        <div class="form-group"><label class="col-sm-1 control-label text-left">发车日期</label>

                            <div class="col-sm-2"><input type="text" class="form-control input-sm"></div>
                        </div>
                        <div class="form-group"><label class="col-sm-1 control-label text-left">运输费用</label>

                            <div class="col-sm-2"><input type="text" class="form-control input-sm" ></div>
                        </div>
                        <div class="form-group"><label class="col-sm-1 control-label text-left">货物名称</label>

                            <div class="col-sm-2"><input type="text" class="form-control input-sm"></div>
                        </div>
                        <div class="form-group"><label class="col-sm-1 control-label text-left">货物重量</label>

                            <div class="col-sm-2"><input type="text" class="form-control input-sm"></div>
                        </div>

                        &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                        <button class="btn btn-primary">抢单</button>
                        &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                        <button class="btn btn-primary">取消</button>
                    </form>


                </div>
            </div>