<div class="hpanel email-compose">
    <div class="panel-heading hbuilt">
        <div class="p-xs h4">
            订单详情
        </div>
    </div>
    <div class="panel-heading hbuilt">
        <div class="p-xs">
            <form method="get" class="form-horizontal">
                <div class="form-group">
                    <label class="col-sm-2">发起人</label>
                    <p class="col-sm-10">{{ order.owner.name }}</p>
                </div>
                <div class="form-group">
                    <label class="col-sm-2">发车地点</label>
                    <p class="col-sm-10">{{ order.startPlace }}</p>
                </div>
                <div class="form-group">
                    <label class="col-sm-2">运输终点</label>
                    <p class="col-sm-10">{{ order.endPlace }}</p>
                </div>
                <div class="form-group">
                    <label class="col-sm-2">发车日期</label>
                    <p class="col-sm-10">{{ order.date }}</p>
                </div>
                <div class="form-group">
                    <label class="col-sm-2">需求车型</label>
                    <p class="col-sm-10">{{ order.vehicle.name }}</p>
                </div>
                <div class="form-group">
                    <label class="col-sm-2">运输距离</label>
                    <p class="col-sm-10">{{ order.distance }}千米</p>
                </div>
                <div class="form-group">
                    <label class="col-sm-2">运输费用</label>
                    <p class="col-sm-10">{{ order.totalPrice }}元</p>
                </div>
                <div class="form-group" ng-repeat="detail in order.orderDetailList">
                    <label class="col-sm-2">货物名称</label>
                    <p class="col-sm-4">{{ detail.goodCategory.name }}</p>
                    <label class="col-sm-2">货物重量</label>
                    <p class="col-sm-4">{{ detail.weight }}千克</p>
                </div>
                <div class="row">
                    <div class="col-sm-2 col-sm-offset-2">
                        <button ng-click="submit()" class="btn btn-primary">
                            <i class="pe-7s-cart"></i>
                            &nbsp;抢单
                        </button>
                        <a ui-sref="main.acceptorder" class="btn btn-default">
                            <i class="pe-7s-back"></i>
                            &nbsp;取消
                        </a>
                    </div>
                </div>
            </form>
        </div>
    </div>
