<ui-view>
    <div class="panel-body">
        <div class="p-xs">
            <div class="row">
                <div class="col-md-4">
                    <div class="row">
                        <label class="col-md-4 control-label form-control-static">最早发车时间</label>
                        <div class="col-md-8">
                            <input type="date" class="form-control" ng-model="params.startDate" />
                        </div>
                    </div>
                </div>
                <div class="col-md-4">
                    <div class="row">
                        <label class="col-md-4 control-label form-control-static">最晚发车时间</label>
                        <div class="col-md-8">
                            <input type="date" class="form-control" ng-model="params.endDate" />
                        </div>
                    </div>
                </div>
                <div class="col-md-4">
                    <div class="row">
                        <label class="col-md-4 control-label form-control-static">最低运费(元)</label>
                        <div class="col-md-8">
                            <input type="text" class="form-control" ng-model="params.minPrice" />
                        </div>
                    </div>
                </div>
            </div>
            <br />
            <div class="row">
                <div class="col-md-4">
                    <div class="row">
                        <label class="col-md-4 control-label form-control-static">最短运输距离(千米)</label>
                        <div class="col-md-8">
                            <input type="text" class="form-control" ng-model="params.minDistance" />
                        </div>
                    </div>
                </div>
                <div class="col-md-4">
                    <div class="row">
                        <label class="col-md-4 control-label form-control-static">最长运输距离(千米)</label>
                        <div class="col-md-8">
                            <input type="text" class="form-control" ng-model="params.maxDistance" />
                        </div>
                    </div>
                </div>
            </div>
            <br />
            <div class="row">
                <div class="col-md-4">
                    <div class="row">
                        <div class="col-md-8 col-md-offset-4">
                            <button class="btn btn-success" ng-click="reload()">查询</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="table-responsive">
            <table class="table table-hover table-bordered table-striped">
                <tbody>
                    <tr>
                        <th data-toggle="true">序号</th>
                        <th>起点</th>
                        <th>终点</th>
                        <th>运输距离</th>
                        <th>发车日期</th>
                        <th>运输费用</th>
                        <th>操作</th>
                    </tr>
                    <tr ng-repeat="order in orders | orderBy: '-id'">
                        <td>{{ $index + 1 }}</td>
                        <td>{{ order.startPlace }}</td>
                        <td>{{ order.endPlace }}</td>
                        <td>{{ order.distance }}</td>
                        <td>{{ order.date }}</td>
                        <td>{{ order.totalPrice }}</td>
                        <td>
                            <a ui-sref="main.acceptorder.details">详情</a>
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
</ui-view>
