<div>
    <div class="row">
        <div class="col-md-12">
            <div class="hpanel">
                <div class="panel-body">
                    <h3>创建订单</h3>
                    <p>您可以在这里填写 需要运送的货物类型与货车类型</p>
                </div>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-md-12">
            <div class="hpanel">
                <div class="panel-heading">
                    <!-- <div panel-tools></div> -->
                    订单表单
                </div>
                <div class="panel-body">
                    <form method="get" class="form-horizontal">
                        <div class="form-group">
                            <div class="col-md-4">
                                <div class="row">
                                    <label class="col-md-6 control-label">起始地点</label>
                                    <p class="col-md-6 form-control-static">{{ startPlace.name }}</p>
                                </div>
                            </div>
                            <div class="col-md-4">
                                <input type="button" class="btn btn-primary btn-sm pull-right" ng-click="startPlaceInit()" ng-model="startPlace.name" value="点击以选择起始地点" />
                            </div>
                        </div>
                        <div class="form-group row">
                            <div class="col-md-4">
                                <div class="row">
                                    <label class="col-md-6 control-label">目的地点</label>
                                    <p class="col-md-6 form-control-static">{{ endPlace.name }}</p>
                                </div>
                            </div>
                            <div class="col-md-4">
                                <input type="button" class="btn btn-primary btn-sm pull-right" ng-click="endPlaceInit()" ng-model="endPlace.name" value="点击以选择目的地点" />
                            </div>
                        </div>
                        <div class="form-group" ng-if="distance">
                            <div class="col-md-4">
                                <div class="row">
                                    <label class="col-md-6 control-label">预估距离</label>
                                    <p class="col-md-6 form-control-static">{{distance}} 公里</p>
                                </div>
                            </div>
                        </div>
                        <div ng-repeat="cargo in cargoList track by $index">
                            <div class="form-group">
                                <div class="col-md-4">
                                    <div class="row">
                                        <label class="col-md-6 control-label">运载货物{{ $index + 1 }}</label>
                                        <cargo-list class="col-md-6" ng-model="cargoList[$index].goodCategory"></cargo-list>
                                    </div>
                                </div>
                                <div class="col-md-4">
                                    <div class="row">
                                        <label class="col-md-6 control-label">重量</label>
                                        <div class="input-group col-md-6">
                                            <input type="text" class="form-control" ng-model="cargoList[$index].weight" ng-blur="refreshWeight()">
                                            <span class="input-group-addon">千克</span>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-md-4">
                                    <button class="btn btn-danger" ng-click="cargoDelete($index)">
                                        <i class="fa fa-times"></i>
                                    </button>
                                    <button ng-show="$last" class="btn btn-info" ng-click="cargoInsert()">
                                        <i class="fa fa-plus"></i>
                                    </button>
                                </div>
                            </div>
                        </div>
                        <div class="form-group">
                            <div class="col-md-4">
                                <div class="row">
                                    <label class="col-md-6 control-label">总计重量</label>
                                    <div class="col-md-6">
                                        <p class="form-control-static">{{totalWeight}} 千克</p>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="hr-line-dashed"></div>
                        <div class="form-group">
                            <div class="col-md-4">
                                <div class="row">
                                    <label class="col-md-6 control-label">车型选择</label>
                                    <div class="col-md-6">
                                        <vehicle-list ng-model="vehicle"></vehicle-list>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="form-group">
                            <div class="col-md-4">
                                <div class="row">
                                    <label class="col-md-6 control-label">运货时间</label>
                                    <div class="col-md-6">
                                        <input type="date" class="form-control" placeholder="点击以选择运货时间" ng-model="dateTime">
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="hr-line-dashed"></div>
                        <div class="form-group">
                            <div class="col-md-8 col-md-offset-2">
                                <button class="btn btn-primary" type="submit" ng-click="submit()">
                                    <i class="pe-7s-check"></i>
                                    &nbsp;提交订单
                                </button>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>
