<ui-view>
    <div class="row">
        <div class="col-lg-12">
            <div class="hpanel">
                <div class="panel-body">
                    <h3>正在执行的订单</h3>
                    <p>你可以在这里查看 订单完成情况</p>
                </div>
            </div>
        </div>
        <div class="col-lg-12">
            <div class="hpanel">
                <div class="panel-heading">
                    订单列表
                </div>
                <div class="panel-body">
                    <div class="table-responsive">
                        <table cellpadding="1" cellspacing="1" class="table">
                            <thead>
                                <tr>
                                    <th>序号</th>
                                    <th>货主</th>
                                    <th>接单司机</th>
                                    <th>起始地点</th>
                                    <th>目的地点</th>
                                    <th>距离</th>
                                    <th>总价</th>
                                    <th>需求车型</th>
                                    <th>发车日期</th>
                                    <th>详细信息</th>
                                    <th>订单状态</th>
                                    <th>物流状态</th>
                                    <th>操作</th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr ng-repeat="order in orders">
                                    <td>{{ $index + 1 }}</td>
                                    <td>{{ order.owner.name }}</td>
                                    <td>{{ order.driver.name }}</td>
                                    <td>{{ order.startPlace }}</td>
                                    <td>{{ order.endPlace }}</td>
                                    <td>{{ order.distance }}千米</td>
                                    <td>{{ order.totalPrice }}元</td>
                                    <td>{{ order.vehicle.name }}</td>
                                    <td>{{ order.date }}</td>
                                    <td>
                                        <p ng-repeat="detail in order.orderDetailList">
                                            {{ detail.goodCategory.name }} {{ detail.weight }} 千克
                                        </p>
                                    </td>
                                    <td ng-bind-html="order.orderStatus | orderStatus"></td>
                                    <td ng-bind-html="order.logisticsStatus | logisticsStatus"></td>
                                    <td>
                                        <span ng-if="order.orderStatus !== 1 && order.orderStatus !== 3" class="badge badge-error">无法操作该订单</span>
                                        <a ui-sref="main.orders.select({id: order.id})" class="btn btn-info btn-xs" ng-if="order.orderStatus === 1">
                                            <i class="pe-7s-filter"></i>
                                            &nbsp;选择司机
                                        </a>
                                        <button ng-click="confirm(order.id)" class="btn btn-success btn-xs" ng-if="order.orderStatus === 3">
                                            <i class="pe-7s-note"></i>
                                            &nbsp;确认已完成
                                        </button>
                                    </td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>
</ui-view>
